<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TACOHMYGOD</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" /></head>
	<link href="https://fonts.googleapis.com/css?family=Istok+Web|News+Cycle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Chango|Chelsea+Market|Knewave|Luckiest+Guy|Monoton|Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
	<script type="text/javascript">

	$(document).ready(function() {
		$('.dropdown-toggle').dropdown()
	});

	</script>

	<meta charset="utf-8">
</head>
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid" id="navbar">
			<img id="logo" src="http://i.imgur.com/UQNynJ1.png" title="source: imgur.com" />
			<a class="navbar-brand" href="/" id="navbar-brand">tacoMyGod</a>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<% if(user != undefined){ %>
				<ul class="nav navbar-nav navbar-right" id="nav-right">
					<li id="greet-user">Hello, <%= user.fb.firstName %></li>
					<li id="log-out"><a href="/logout">log out</a></li>
				</ul>
				<% }  %>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>
<body id="taco-gallery">
    <% for(var i=0; i< tacos.length; i++) {  %>
			<div class="container">
      <div class="row">
        <div class=" col-md-4 card" style="width: 30rem;">
          <nav class="navbar navbar-default" id="name-bar">
            <div class="container-fluid">
              <h4 class="card-title text-center" id="chef-title"><b><%= chefs[i].firstName %>'s Taco: </b></h4>
            </div>
          </nav>
          <div class="card-body">
            <img src="http://i.imgur.com/nPWFN4N.png" title="source: imgur.com" />
            <ul class="card-text">
							<li><b>Tortilla : </b> <%= tacos[i].tortilla %></li>
							<li><b>Eggs : </b> <%= tacos[i].eggs %></li>
							<li><b>Meat : </b> <%= tacos[i].meat %></li>
							<li><b>Salsa : </b> <%= tacos[i].salsa %></li>
							<li><b>Cheese : </b> <%= tacos[i].cheese %></li>
							<li><b>Beans : </b> <%= tacos[i].beans %></li>
							<li><b>Potato : </b> <%= tacos[i].potato %></li>
						</ul>
	          <p id="votes">votes</p>
						<p class="count">0</p>
						<a class="buttonPlus btn btn-primary"><b>Vote for this taco</b></a>
          </div>
        </div>


    <% } %>
    <script  type="text/javascript">
      var counter = 0;
      console.log("I am listening");
      $(".card").on('click', '.buttonPlus', function(e){
        var count = $(this).prev().text()
        $(this).prev().text(++count);
        // make your vote creation ajax call RIGHT HERE
        //you'll need the tacoid and the userid
        // use a data-userid= <%= user._id %>
        // .data('userid') => userId that you embed there

      });

    </script>
  </ul>
</body>
