<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TACOHMYGOD</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" /></head>
	<link href="https://fonts.googleapis.com/css?family=Istok+Web|News+Cycle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Chango|Chelsea+Market|Knewave|Luckiest+Guy|Monoton|Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>

</head>

<body>
  <nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a href="http://imgur.com/UQNynJ1"><img src="http://i.imgur.com/UQNynJ1.png" title="source: imgur.com" /></a> <a class="navbar-brand" href="/" id="navbar-brand">tacoMyGod</a>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" id="nav-right">
        <% if(user != undefined){ %>
          <li class = 'greeting'><br>
            <%= user.fb.firstName %> is logged in!
            <a href="/logout" id="log-out">log out</a>
          </li>
        <% }  %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <ul>
      <% for(var i=0; i< tacos.length; i++) {  %>
          <li>
            <div class="col-md-4 col-md card">
            <h4>
              <!-- <em><%= chefs[i].id %></em> -->
              <p class="cardTitle"><%= chefs[i].firstName %>'s Taco </p><br>
              <p>Tortilla : </p> <%= tacos[i].tortilla %><br>
              <p>Eggs : </p> <%= tacos[i].eggs %><br>
              <p>Meat : </p> <%= tacos[i].meat %><br>
              <p>Salsa : </p> <%= tacos[i].salsa %><br>
              <p>Cheese : </p> <%= tacos[i].cheese %><br>
              <p>Beans : </p> <%= tacos[i].beans %><br>
              <p>Potato : </p> <%= tacos[i].potato %><br>
            </h4>
            <p class="count">Total Votes: <%= tacos[i].votes %></p>
            <p class="buttonPlus btn btn-info" data-taco_id="<%= tacos[i]._id %>" >+</p>

            </div>
          </li>

      <% } %>
    </ul>
  </div>
  <script src="scripts/app.js"></script>
</body>
